.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.5;
  transform: opacity 1s linear 2s;
}
