.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 388px;
  width: 100%;
  line-height: 25px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
}
