.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo{
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title{
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-style: normal;
  z-index: 2;
  
}

.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 388px;
  line-height: 25px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
}

.header__link{
  color:#2f80ed;
  text-decoration: none;
}

.header__square-pic{
  background-color: #2f80ed;
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: 0;
}

.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.content{
  margin: 0;
  padding: 0; 
}

.description{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.two-columns{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  padding: 0;
}

.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  font-weight: normal;
 }

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
  
}

.two-columns__paragraph{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  margin-top: 0; 
  
}

.two-columns__paragraph:last-child{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-title{
width: 60%;
margin-top: 100px;
margin-bottom: 20px;
text-align: center;
font-size: 60px;
font-weight: 600;
line-height: 1.15;
}

.section-subtitle{
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table{
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.table__cell{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text{
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman{
margin: 0;
padding: 0;
background-image: url("../images/feynman.png");
background-position: bottom 0 left 0;
background-size: 867px 637px;
display: flex;
flex-direction: column;
align-items: center;
min-height: 637px;
background-repeat: no-repeat;
position: relative;
min-height: 890px;
background-color: #f2f2f2;
}

.feynman__title{
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0; 
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman{
  background-color:  #1f1f1f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark{
  color: white;
  margin-top: 90px;
  z-index: 2;
}

.section-subtitle_theme_dark{
color: white;
margin: 0;
z-index: 2;
}
.table_theme_dark{
margin-bottom: 90px;
z-index: 2;
}
.table__cell_theme_dark{
width: 200px;
color: white;
margin-right: 0;
margin-top: 80px;
z-index: 2;    
}

.table__heading_theme_dark{
z-index: 2;
}

.table__text_theme_dark{
z-index: 2;
margin-top: 20px;
}

.kaufman__triangle{
position: absolute;
right: -210px;
top: 0px;
width: 877px;
height: 877px;
background-image: url("../images/kaufman-triangle.svg");
background-position: top 0 right 0;
background-size: 877px 877px;
z-index: 1;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 350px;
  background-color:  #1f1f1f;
  margin: 0;
  padding: 0;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
}

.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer{
  width: 228px;
  height: 32px;
}

.footer__author{
  color: white;
  margin-bottom: 18px;
  margin-top: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
}

.footer__column-heading{
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.footer__column-link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
